@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 240 27% 98%;
		--foreground: 231 20% 61%;

		--muted: 231 73% 93%;
		--muted-foreground: 231 31% 63%;

		--popover: 0 0% 100%;
		--popover-foreground: 231 28% 7%;

		--card: 0 0% 100%;
		--card-foreground: 231 28% 7%;

		--border: 252 100% 73%;
		--input: 252 100% 73%;

		--primary: 252 94% 67%;
		--primary-foreground: 0 0% 100%;

		--secondary: 252 100% 73%;
		--secondary-foreground: 0 0% 100%;

		--accent: 231 67% 99%;
		--accent-foreground: 231 36% 63%;

		--destructive: 0 80% 63%;
		--destructive-foreground: 0 0% 100%;

		--ring: 215 20.2% 65.1%;

		--radius: 0.5rem;

		--success: 160 67% 52%;
		--warning: 34 100% 50%;
	}

	.dark {
		--background: 233 30% 11%;
		--foreground: 0 0% 100%;

		--muted: 231 20% 61%;
		--muted-foreground: 0 0% 100%;

		--popover: 233 31% 17%;
		--popover-foreground: 0 0% 100%;

		--card: 233 31% 17%;
		--card-foreground: 0 0% 100%;

		--border: 233 30% 21%;
		--input: 233 30% 21%;

		--primary: 252 94% 67%;
		--primary-foreground: 0 0% 100%;

		--secondary: 252 100% 73%;
		--secondary-foreground: 0 0% 100%;

		--accent: 233 31% 17%;
		--accent-foreground: 232 23% 61%;

		--destructive: 0 80% 63%;
		--destructive-foreground: 0 0% 100%;

		--ring: 216 34% 17%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		font-feature-settings: 'rlig' 1, 'calt' 1;
	}
}
